div{
    width:0px;
    height:0px;
    margin:200px auto;
    position:relative;
    border-left:140px solid transparent;
    border-right:140px solid transparent;
    border-bottom:230px solid greenyellow;
}